// 
// user.scss
// Use this to write your custom SCSS
//
.nav-background-semi{
    background-color: rgba(0, 0, 0, 0.438);
}
.navbar-brand{

    margin-left: 2rem;
}
.header-btn {
    margin-left: 3rem;
    margin-right:2rem
}