<!-- header -->
<div class="header @@classList">
	<!-- navigation start -->
	<div class="container-fluid nav-background-semi">
		<nav class="navbar navbar-expand-lg navbar-default">
			<a class="navbar-brand" href="@@webRoot/index.html"
				><img src="@@webRoot/assets/images/my-logo.svg" alt=""
			/></a>
			<button
				class="navbar-toggler collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbar-default"
				aria-controls="navbar-default"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="icon-bar top-bar mt-0"></span>
				<span class="icon-bar middle-bar"></span>
				<span class="icon-bar bottom-bar"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-default">
				<button
					class="navbar-toggler collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbar-default"
					aria-controls="navbar-default"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="fas fa-times"></i>
				</button>
				<ul class="navbar-nav ms-auto me-lg-3">
					<li class="nav-item dropdown disabled">
						<a class="nav-link d-lg-none" href="#"> </a>
					</li>
					<li class="nav-item dropdown">
						<a href="./index.html">Travel Navigator</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="menu-3"
							data-bs-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							Points On The Compass
						</a>
						<ul
							class="dropdown-menu dropdown-menu-arrow dropdown-menu-xl-left"
							aria-labelledby="menu-3"
						>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2017_India/2017_colors_of_india.html"
									>2017 Colors of India Tour</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2017_India/2017_colors_of_india.html"
									>2017 Colors of India Tour</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2019_morocco/2019_best_of/2019_morocco.html"
									>Best of Morocco</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2019_morocco/2019_medina/2019_medina.html"
									>Medina</a
								>
							</li>
							<li>
								<a
									class="dropdown-item"
									ref="@@webRoot/2019_morocco/2019_mem_meals/2019_mem_meals.html"
								>
									Memorable Meals</a
								>
							</li>

							<li>
								<a class="dropdown-item" ref="@@webRoot/2019_morocco/2019_souks/2019_souks.html"
									>Food in the Souks</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2016%20savuti/2016%20savuti.html"
									>Botswana 2016</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2015%20Ecuador/ecuador2015show.html"
									>Ecuador-Napo Jungle</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2014_madagascar/2014_madagascar.html"
									>Madagascar</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2013_Galapagos_show.html">Galapagos</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2012_uganda_primates_show.html"
									>Uganda/Rwanda</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2010_karisia_walking_show.html">Kenya</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/peru.html">Peru</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/chile.html">Chile</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/botswana.html">Botswana</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/bali.html">Bali</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/belize.html">Belize</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2014_womens_burma.html"
									>2014 Textiles Tour of Burma</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2011_india_textiles.html"
									>Northern India Textiles Tour</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2009_ba_arts.html"
									>Visual Arts Tour of Buenos Aires</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2009_ntbg_amazon.html"
									>Amazon Botanical Tour</a
								>
							</li>
							<li><a class="dropdown-item" ref="@@webRoot/choir_tours.html">Choir Tours</a></li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2008_ntbg_madagascar.html"
									>Botanical Tour of Madagascar & South Africa</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2016%20capetown/capetown.html"
									>Cape Town Flora</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2016%20savuti/savuti%20gallery.html"
									>Savuti Camp, Botswana</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2016%20tubutree/tubu%20tree%20gallery.html"
									>Tubu Tree Camp, Botswana</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2016%20chitabe/chitabe%20gallery.html"
									>Chitabe Lediba, Botswana</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2016%20jacks/jacks%20gallery.html"
									>Jack's Camp, Botswana</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2016%20ruckomechi/ruckomechi%20gallery.html"
									>Ruckomechi, Zimbabwe</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2015%20Ecuador/ecuador2015show.html"
									>2015 Ecuador-Napo Jungle
								</a>
							</li>
							<li>
								<a
									class="dropdown-item"
									ref="@@webRoot/2014_madagascar/mandrare_ss/2014_mandrare_ss.html"
									>2014 Mandrare, Madagascar</a
								>
							</li>
							<li>
								<a
									class="dropdown-item"
									ref="@@webRoot/2014_madagascar/manafiafy_ss/2014_manafiafy_ss.html"
									>2014 Manafiafy, Madagascar</a
								>
							</li>
							<li>
								<a
									class="dropdown-item"
									ref="@@webRoot/2014_madagascar/andasibe_ss/2014_andasibe_ss.html"
									>2014 Andisibe, Madagascar</a
								>
							</li>
							<li>
								<a
									class="dropdown-item"
									ref="@@webRoot/2014_madagascar/masoala_ss/2014_masoala_ss.html"
									>2014 Masaola, Madagascar</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2013_Galapagos_show.html"
									>2013 Galapagos Tour</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2012_uganda_primates_show.html"
									>2012 Primates Primer, Uganda</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2010_karisia_walking_show.html"
									>2010 Women's Walking Tour, Kenya</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2009_ntbg_amazon_show.html"
									>2009 Amazon Botanical Tour</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2009_w_se_asia.html">2009 SE Asia Tour</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2009_ba_arts_show.html"
									>2009 Buenos Aires Art Tour</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2008_ntbg_madagascar_show.html"
									>2008 South Africa & Madagascar</a
								>
							</li>
							<li><a class="dropdown-item" ref="@@webRoot/peru.html">Macchu Picchu, Peru</a></li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2014_womens_burma.html"
									>2014 Textiles Tour of Burma</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2013_karisia_womens_itin.html"
									>2013 Karisia, Kenya Women’s Walking Safari</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2013_womens_burma.html"
									>2013 Textiles Tour of Burma</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2013_south_india.html"
									>2013 NTBG - Southern India</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2011_india_textiles.html"
									>Northern India Textiles Tour 2011</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2009_ba_arts.html"
									>Visual Arts Tour of Buenos Aires 2009</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2009_ntbg_amazon.html">NTBG Amazon 2009</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2009_w_se_asia.html"
									>Womens Tour of South East Asia 2009</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/2008_ntbg_madagascar.html"
									>NTBG Madagascar & South Africa 2008</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/baja_kayak_07.html"
									>Women's Baja Adventure 2007</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/india.html"
									>Cultures and Arts of South India 2007</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/ntbg_burma_2004.html"
									>NTBG Myanmar & Thailand Tour 2004
								</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/w_tibet_trek_2004.html"
									>Women's Tibet Trek 2004</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/ntbg_bhutan.html">NTBG Bhutan Tour 2002</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/choir_tours.html"
									>Cantores France Tour 2002</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/w_tibet_nepal_itin_2000.html"
									>Women's Tibet & Nepal Adventure 2000</a
								>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/tn_profiles.html">Terra Nova Profiles</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/world_citizens.html">World Citizens</a>
							</li>
							<li>
								<a class="dropdown-item" ref="@@webRoot/contact_us.html">Contact</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="menu-4"
							data-bs-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							Ways to go
						</a>
						<ul
							class="dropdown-menu dropdown-menu-md dropdown-menu-arrow dropdown-menu-xl-left"
							aria-labelledby="menu-4"
						>
							<li class="dropdown-submenu">
								<ul class="dropdown-menu dropdown-menu-lg-right">
									<li>
										<a class="dropdown-item" href="@@webRoot/pages/case-studies.html">
											Case Study</a
										>
									</li>
									<li>
										<a class="dropdown-item" href="@@webRoot/pages/case-study-single.html">
											Single</a
										>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<div class="header-btn">
						<a href="pages/signup.html " class="btn btn-primary btn-sm">Search</a>
					</div>
				</ul>
			</div>
		</nav>
	</div>
	<!-- navigation close -->
</div>
